body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-gray-100: #797979;
  --color-white: #fff;
  --color-black: #000;
  --color-dodgerblue: #149bfc;
  --color-dimgray: #5d5d5d;

  /* Gaps */
  --gap-xs: 12px;

  /* Paddings */
  --padding-base: 16px;
  --padding-11xl: 30px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-5xs: 8px;
}
